.button {
	background-color: chartreuse;
	height: 40px;
	padding: 0px 10px;
	border-radius: 5px;
	width: 100%;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.add-task-button-container {
	display: flex;
	flex: 1;
	padding-left: 10px;
}
