.task-container {
	background-color: rgb(100, 100, 100);
	margin: 8px 0;
	padding: 15px 20px;
	display: flex;
	border-radius: 5px;
	justify-content: space-between;
	color: white;
	align-items: center;
}

.task-title {
	cursor: pointer;
}

.remove-task-button,
.info-task-button {
	background-color: transparent;
	color: chartreuse;
	border: 1px solid transparent;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	padding: 3px;
	transition: all 0.2s;
}

.remove-task-button:hover,
.info-task-button:hover {
	border: 1px solid chartreuse;
	cursor: pointer;
}

.remove-task-button:active,
.info-task-button:active {
	color: black;
	background-color: chartreuse;
	cursor: pointer;
}
